@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
@view-transition {
    navigation: auto;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
}

@keyframes slide-out {
    to {
        transform: translateX(-100%);
    }
}

::view-transition-group(mcontent),
::view-transition-image-pair(mcontent),
::view-transition-old(mcontent),
::view-transition-new(mcontent) {
    background: inherit;
}

::view-transition-group(mcontent) {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    overflow: clip;
    position: absolute;
    inset: 0;
}

#main-content {
    view-transition-name: mcontent;
}

::view-transition-old(mcontent) {
    animation: slide-out 0.5s ease-in-out both;
    mix-blend-mode: normal;
}

::view-transition-new(mcontent) {
    animation: slide-in 0.5s ease-in-out both;
    mix-blend-mode: normal;
}
